<script src="app.component.ts"></script>
<app-navbar></app-navbar>
<div class="min-h-screen bg-primary">
  <main class="pt-20"> <!-- Adjust the padding top value to match the height of your navbar -->
    <app-menu></app-menu>
  </main>
</div>

<div class="relative grid grid-cols-3">
  <div class="col-span-2 relative flex justify-end items-center">
    <img src="assets/images/picnic-table-footer.svg" class="absolute bottom-0 right-0 w-16 lg:w-24" alt="Picnic Table Footer">
  </div>
</div>
<app-app-footer></app-app-footer>
